<div class="row mt-5">
  <div class="col-sm-12">
    <h2><i class="fa fa-users"></i> Customer details</h2>
    <a href="" routerLink="/customers">
      <i class="fa fa-chevron-circle-left"></i>
      Back
    </a>
  </div>
</div>


<div class="row mt-5">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3>{{ customer.firstName }} {{ customer.lastName }}
        </h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>Email: </b>{{ customer.email }}</p>
        <p class="card-text"><b>Phone: </b>{{ customer.phone }}</p>
        <p class="card-text"><b>Address: </b>{{ customer.address }}</p>
        <p class="card-text"><b>Notes: </b>{{ customer.notes }}</p>
      </div>
    </div>
  </div>
</div>