<div class="row mt-5 mb-5">
  <div class="col-sm-4 m-auto">
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
      <h1>StageCRM Login Page</h1>
      <div class="form-group">
        <label for="email"><span class="text-danger">*</span> Email:</label>
        <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        #le="ngModel"
        [(ngModel)]="email"
        [ngClass]="{ 'is-invalid': le.errors && le.touched }"
        required
        pattern="^(?!.*\.\.)[\w.\-#!$%&'*+\/=?^_`{}|~]{1,35}@[\w.\-]+\.[a-zA-Z]{2,15}$"
        >
        <div [hidden]="!le.errors?.required" class="invalid-feedback">A valid email is required</div>
        <div [hidden]="!le.errors?.pattern" class="invalid-feedback">A valid email is required</div>
      </div>
      <div class="form-group">
        <label for="password"><span class="text-danger">*</span> Password:</label>
        <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        #lp="ngModel"
        [(ngModel)]="password"
        [ngClass]="{ 'is-invalid': lp.errors && lp.touched }"
        required
        >
        <div [hidden]="!lp.errors?.required" class="invalid-feedback">Password is required</div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
  </div>
</div>